- var contents = data.contents.contents
doctype html
html(lang="ja")
  head
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="https://use.typekit.net/cgu7cwg.css")
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/script.js")
    script(src="js/progressBar.js")
    title Junya Yamamoto
  body.gothic
    .progressbar
      #hello Thank you for watching!
    #hidden-all
      #top
        h1#top-name.center Junya Yamamoto
        #top-scroll
          h3 Scroll
          img(src="img/arrow.svg")
        #top-image1
          <svg version="1.1" viewBox="0 0 700 600">
            <clipPath id="main_svgPath">
              <path>
                <animate dur="20s" repeatCount="indefinite" attributeName="d" attributeType="XML" keySplines=".42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1" keyTimes="0;.2;.4;.6;.8;1" calcMode="spline" values="M28.1,341.8c40.4,56,259,84,342,29s245-179,180-261s-280-142-384-91S-54.9,226.8,28.1,341.8z;M21.6,193.3c40.4,56,453,64,536,9s99-50,34-132s-269-89-373-38S-61.4,78.3,21.6,193.3z;M30.6,340.4c40.4,56,259-24,342-79s195-121,130-203s-246-68-350-17S-52.4,225.4,30.6,340.4z;M41.7,278c40.4,56,289,53,372-2s169-113,104-195s-301-105-405-54S-41.3,163,41.7,278z;M30.4,294.9c40.4,56,327,151,410,96s164-88,99-170s-282-263-386-212S-52.6,179.9,30.4,294.9z;M28.1,341.8c40.4,56,259,84,342,29s245-179,180-261s-280-142-384-91S-54.9,226.8,28.1,341.8z;">
                </animate>
              </path>
            </clipPath>
            <image x="-50" y="-120" width="700" height="700" xlink:href="img/top.png" clip-path="url(#main_svgPath)"></image>
          </svg>
      #line
        img(src="img/line2.svg").line
      each content, index in contents
        if index % 2 == 0
          .black-back
          .content-wrap
            h1.type.content-right.effect-right #{content.type}
            if typeof content.icons !== 'undefined'
              .icons.content-right.effect-right
                each icon in content.icons
                  i(class=icon)
            if typeof content.link !== 'undefined'
              if content.aspect == "horizontal"
                a(href=content.link target="_blank")
                  each img,index in content.img
                    .imgs
                      img.content-left.yoko.img-effect-left(class="img"+index src="img/" + img)
              else if content.aspect == "vertical"
                a(href=content.link target="_blank")
                  each img,index in content.img
                    .imgs
                      img.tate-content-left.tate.img-effect-left(class="img"+index src="img/" + img)
            else
              if content.aspect == "horizontal"
                each img, index in content.img
                  .imgs
                    img.content-left.yoko.img-effect-left(class="img"+index src="img/" + img)
              else if content.aspect == "vertical"
                each img, index in content.img
                  .imgs
                    img.tate-content-left.tate.img-effect-left(class="img"+index src="img/" + img)
            
            .caption-wrap.content-right
              .caption.effect-right
                if typeof content.link !== 'undefined'
                  a(href=content.link target="_blank").title #{content.title}
                else
                  span.title #{content.title}
                span.date #{content.date}
                p !{content.text}
        else
          .content-wrap
            h1.type.content-left.effect-left #{content.type}
            if typeof content.icons !== 'undefined'
              .icons.content-left.effect-left
                each icon in content.icons
                  i(class=icon)
            if typeof content.link !== 'undefined'
              
              if content.aspect == "horizontal"
                a(href=content.link target="_blank")
                  each img, index in content.img
                    .imgs
                      img.content-right.yoko.img-effect-right(class="img"+index src="img/" + img)
              else if content.aspect == "vertical"
                a(href=content.link target="_blank")
                  each img, index in content.img
                    .imgs
                      img.tate-content-right.tate.img-effect-right(class="img"+index src="img/" + img)
            else
              if content.aspect == "horizontal"
                each img,index in content.img
                  .imgs
                    img.content-right.yoko.img-effect-right(class="img"+index src="img/" + img)
              else if content.aspect == "vertical"
                each img, index in content.img
                  .imgs
                    img.tate-content-right.tate.img-effect-right(class="img"+index src="img/" + img)
            .caption-wrap.content-left
              .caption.effect-left
                if typeof content.link !== 'undefined'
                  a(href=content.link target="_blank").title #{content.title}
                else
                  span.title #{content.title}
                span.date #{content.date}
                p!=content.text
      #bottom
        .thanks Thank you!
